
body {
  margin-left: 2em;
  margin-top: 2em;
  max-width: 45em;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
}

@media only screen and (min-device-width: 600px) and (max-device-width: 800px) {
  body {
    margin-left: 5em;
    margin-top: 5em;
  }
}

@media only screen and (min-device-width: 800px) {
  body {
    margin-left: 10em;
    margin-top: 5em;
  }
}

ul#social {
  margin: 0px;
  margin-top: 3em;
  list-style: none;
  padding: 0px;
}

ul#social li {
  display: inline;
}

ul#social li:not(:last-child):after {
  content: "\00b7";
  padding-left: 1em;
  padding-right: 1em;
}

h2 {
  font-weight: normal;
  font-size: 135%;
}

footer {
  margin-top: 3em;
}
